name: CI Pipeline

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    ci:
        runs-on: ubuntu-latest

        # 1 Load the code from the repository to use in the workflow
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # 2 Setup Node.js environment
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22"

            # 3 Install dependencies for backend
            - name: Install dependencies
              run: npm run install:all

            # 4 Lint the backend code
            - name: Lint Backend
              run: npm run lint:backend

            # 5 Test the backend code
            - name: Test Backend
              run: npm run test:backend

            # 6 Lint the frontend code
            - name: Lint Frontend
              run: npm run lint:frontend

            # 7 Test the frontend code
            - name: Test Frontend
              run: npm run test:frontend
